# Force LF for all files that run on Linux
*.sh text eol=lf
Dockerfile text eol=lf
Procfile text eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.mjs text eol=lf
